[Unit]
Description=Run the Fixed Cycle Coin Scanner every 30 minutes

[Timer]
OnCalendar=*:0/30
Persistent=true
Unit=coin_scanner.service

[Install]
WantedBy=timers.target
