master:
  api_key: "YOUR_BYBIT_API_KEY"
  secret_key: "YOUR_BYBIT_SECRET_KEY"

sub:
  api_key: "YOUR_BYBIT_API_KEY"
  secret_key: "YOUR_BYBIT_SECRET_KEY"

bot_2:
  api_key: "YOUR_BYBIT_API_KEY"
  secret_key: "YOUR_BYBIT_SECRET_KEY"

bot_2_sub:
  api_key: "YOUR_BYBIT_API_KEY"
  secret_key: "YOUR_BYBIT_SECRET_KEY"

profiles:
  long_bot_1:
    long_account: master
  long_bot_2:
    long_account: bot_2
  short_bot_1:
    short_account: sub
  short_bot_2:
    short_account: bot_2_sub
